/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 52px;
	padding-bottom: 20px;
}

h1, .jumbotron h1 {
    font-family: 'Bevan', cursive;
    letter-spacing: -0.025em;
    text-shadow: -0.075em 0 0 rgba(15, 15, 15, 0.1);
    font-size: 7.5em;
    color: #FF9B2C;
}

body.fun .jumbotron h1 {
    color: white; 
    /*#FF9B2C;*/
}

nav {
	height: 52px;
    box-shadow: 0 8px 20px #999;
    border-color: #333;
}

.navbar-inverse {
    /*background-color: #E1E8F0;*/
    background-color:#0080B2; 
    border-color: #9d9d9d;
    /*border-color: #E1E8F0;*/
}

.well.fun-button {
    padding: 5px;
    width: 110px;
    /*background-color:#16174f; /*DELETE ME*/*/
    margin-bottom: 0;
}

.btn-primary {
	background: #2CC3FF;
}

a.navbar-brand {
	height: 100%;
    vertical-align: middle;
    line-height: 50px;
    font-size: 28px;
    padding: 0 15px;
}

.jumbotron {
	background: url("../images/profile_background3.png") #E1E8F0 right top;
}


/*TEMP For lookig over project*/
#colorpallette {
	width: 100%;
}

#colorpallette ul {
	padding: 0;
	margin: 0;
	float: left;
    width: 25%;
    margin-bottom: 30px;
}

#colorpallette li {
    list-style: none;
    width: 96%;
    float: left;
    padding: 0 2%;
}

